/* Variables CSS para colores y tamaños */
:root {
    --color-primario: #4A0070; /* Morado oscuro */
    --color-secundario: #E91E63; /* Fucsia/rosado */
    --color-accent-blue-purple: #3c00a3; /* Azul-morado oscuro */
    --color-accent-bright-purple: #8f00ff; /* Morado brillante */
    --color-accent-teal: #2dd3c9; /* Turquesa */
    --color-texto-claro: #FFFFFF;
    --color-texto-oscuro: #333333;
    --color-gris-claro: #F0F0F0;
    --color-gris-medio: #CCCCCC;
    --color-gris-oscuro: #666666;
}

/* Estilos Generales del Cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--color-gris-claro);
    color: var(--color-texto-oscuro);
    padding-bottom: 60px; /* <--- AÑADE ESTA LÍNEA */
}

a {
    text-decoration: none;
    color: var(--color-primario);
}